40tXfbdl8UqqNzjW.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-25T10:23:46.480Z",
  "id": "40tXfbdl8UqqNzjW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Research agent Demo",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -40
      ],
      "id": "27324ba7-71a1-457f-a96a-73a38c0fe78c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a research assistant agent. You have Wikipedia, Hacker News API, and Serp API at your disposal.\n\nTo answer the user’s question, first search Wikipedia. If you can’t find your answer there, then search articles using Hacker News API. If that doesn’t work either, then use Serp API to answer the user’s question.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        -40
      ],
      "id": "cbafe087-956b-4ab9-a691-07716f0b29aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        160
      ],
      "id": "40bffe6d-a5aa-4f30-9a8c-b7ce8fb38986",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E5vy6clQF8bAXdVE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        80,
        220
      ],
      "id": "57d23534-8c55-4cc8-a8a6-b9abb8ae0713",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ $fromAI(\"limit\") }}",
        "additionalFields": {
          "keyword": "={{ $fromAI(\"keyword\") }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        180,
        220
      ],
      "id": "f7abc82f-96e4-49a4-9fec-d6f2853ec4c5",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c3a08ff-ea9b-4095-9e69-abcb9fb45456",
              "name": "=response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -40
      ],
      "id": "64b10f8f-32b4-4f72-8621-e2ed6b8f759a",
      "name": "Response"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-25T10:38:20.000Z",
  "versionId": "c60a58dc-b79d-408f-825a-0cc89dfba8e5"
}