amSzBFC91BrNzl90.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "research agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "summarize agent response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vector store tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "vector store tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "vector store tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T06:25:42.644Z",
  "id": "amSzBFC91BrNzl90",
  "isArchived": false,
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -920,
        160
      ],
      "id": "45174c57-6ba1-4ddc-9631-124451a7e7d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1180,
        380
      ],
      "id": "9fc1de18-3ee4-461c-b745-e652abeb575c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1040,
        380
      ],
      "id": "bc22e92f-8b00-4d71-b553-0185f13a7b68",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1820,
        120
      ],
      "id": "2d21716f-78ee-4cd8-9ac3-a7dba0ee22fc",
      "name": "When chat message received",
      "webhookId": "0555eec4-4e1d-4276-bca8-669b1592f314"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_RAo_OILth2n7mfHB0mGdTWi4CxjmEFSFpALkB3qAEw",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_RAo_OILth2n7mfHB0mGdTWi4CxjmEFSFpALkB3qAEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_RAo_OILth2n7mfHB0mGdTWi4CxjmEFSFpALkB3qAEw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -900,
        380
      ],
      "id": "8bc6db61-efa0-4742-9803-8dc098006e1b",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "trigger": [
          "message",
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        160
      ],
      "id": "940069ab-dde6-4872-b5ec-4485ca72063a",
      "name": "Slack Trigger",
      "webhookId": "c1ac3980-4519-46f1-954b-a3de0ee9ae61"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C092YENH3EE",
          "mode": "list",
          "cachedResultName": "all-zigron"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -360,
        120
      ],
      "id": "b4d307f9-f503-4c1c-b986-b93160aaeb0d",
      "name": "Slack",
      "webhookId": "a20f8c8c-20d1-45be-b935-32790077e350"
    },
    {
      "parameters": {
        "description": "Call this tool to take action in gmail.",
        "workflowId": {
          "__rl": true,
          "value": "jRXUclCxK6k7EJ7R",
          "mode": "list",
          "cachedResultName": "email agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -760,
        380
      ],
      "id": "929ec153-018a-4522-b2d3-1fecf06bed74",
      "name": "email agent"
    },
    {
      "parameters": {
        "description": "Call this tool to take action in calendar.",
        "workflowId": {
          "__rl": true,
          "value": "4euG1pZVpW2SaoSu",
          "mode": "list",
          "cachedResultName": "calendar agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -640,
        380
      ],
      "id": "6a2f3d92-8b5a-48da-9a18-ac77d361bce3",
      "name": "calendar agent"
    },
    {
      "parameters": {
        "description": "Call this tool to search the internet to answer the user's question.",
        "workflowId": {
          "__rl": true,
          "value": "gY8TrPOuETFQrhpM",
          "mode": "list",
          "cachedResultName": "research assistant"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -500,
        380
      ],
      "id": "c8456708-cd64-4da5-bc57-30844a564635",
      "name": "research agent"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=summarize this incoming information:\n{{ $json.output }}\noutput only plain text, there should be no markdown formatting or any symbols.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "227b00da-c7e2-4661-821b-42010a5b7eb1",
      "name": "summarize agent response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/rU18Fk3uSDhmg5Xh41o4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "https://api.elevenlabs.io/v1/text-to-speech/rU18Fk3uSDhmg5Xh41o4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ JSON.stringify($json.message.content).replace(/(^\\\"|\\\"$)/g, '') }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        0
      ],
      "id": "68f7a4f3-5dd7-4e1a-ac6d-e6e16337de2e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "description": "Retrieves information about company projects. "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -260,
        420
      ],
      "id": "6ad4b748-2a80-4481-a6de-12fbdd531558",
      "name": "vector store tool"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "demo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -260,
        580
      ],
      "id": "d80e8594-888b-40e5-9701-25dd0384747e",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        760
      ],
      "id": "04d8b9b3-19b0-43da-885a-74afb2f5216f",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        540
      ],
      "id": "cb7f8f93-d144-43f3-ae49-b8db53dcfd69",
      "name": "OpenAI Chat Model1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-27T06:26:05.000Z",
  "versionId": "d1ffc15f-2ce0-4703-bd7d-c6cf9a62e229"
}