My_workflow_7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "4ae18b32-1dfb-4e76-9573-2a13f631960a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -300,
        220
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ad0fcd27-7415-479c-b036-172b3c7f2c15",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        180,
        220
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "CVvOA610esekSaR1",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "2c624e5e-48a8-449d-9c67-dba6ba4740cd",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        20,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ZainabAmirr",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nbackup",
          "mode": "list",
          "cachedResultName": "n8nbackup",
          "cachedResultUrl": "https://github.com/ZainabAmirr/n8nbackup"
        }
      },
      "id": "6fd260ea-f8a8-4ba0-9927-2a2881f0dd15",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -140,
        220
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "qPYxutLv1M9Cix6r",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ZainabAmirr",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nbackup",
          "mode": "list",
          "cachedResultName": "n8nbackup",
          "cachedResultUrl": "https://github.com/ZainabAmirr/n8nbackup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "5a160f3b-7a36-4b4d-8e3d-97ce50e29cd2",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1020,
        140
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qPYxutLv1M9Cix6r",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ZainabAmirr",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nbackup",
          "mode": "list",
          "cachedResultName": "n8nbackup",
          "cachedResultUrl": "https://github.com/ZainabAmirr/n8nbackup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "09d53698-1196-423a-bc5b-216dacdb7424",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1020,
        300
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qPYxutLv1M9Cix6r",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "cf7fd0b7-6b20-4916-b027-a75c12206fdf",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        840,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "475cd535-3ab4-4d7a-9e69-954d6d71ffba",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        340,
        220
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "8592f13f-4548-48ab-941c-49bee642ec18",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        500,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "0496ff5e-aaaa-4ee8-8a8a-1d82c0c1fca4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "562ac54f-b6b4-4e2f-be4d-b468e3765f06",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        220
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "b0b3f571-00dd-4956-b59d-4af4408c4297",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "1a1563a5-f024-46db-9fd5-103d82702301",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        80
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d11793dd-01a8-4ee1-b420-3670c89d84b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8707be5561da15d1b4c629faa0e4a9a6fdd4bfa66f8eb97220cf29c3050d7d3f"
  },
  "id": "uVXKyRh5gYuD4sPu",
  "tags": []
}