Z8ThiqYKcmPH1YVa.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attende": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-25T09:28:37.169Z",
  "id": "Z8ThiqYKcmPH1YVa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        -20
      ],
      "id": "7841f1bb-6f48-4063-915e-b5972fbe95e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        200
      ],
      "id": "055d0fb3-83d6-4668-902f-655c768e2509",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E5vy6clQF8bAXdVE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current date/time: {{DateTime}}\n\nCreate Event:\nIf an end date isn’t specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn’t specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        -40
      ],
      "id": "b4bf0006-fbb5-46f2-b2f1-0af9b3d85c4d",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yusra.masood2005@gmail.com",
          "mode": "list",
          "cachedResultName": "yusra.masood2005@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{$fromAI(\"endTime\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventTitle\")  }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "0372c7fb-fa3e-414b-b2fa-dca417c413e4",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "76kwaWFbn60LtHki",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yusra.masood2005@gmail.com",
          "mode": "list",
          "cachedResultName": "yusra.masood2005@gmail.com"
        },
        "start": "={{ \n  DateTime\n    .fromISO($fromAI(\"startTime\"), { zone: 'utc' })  // assume original is in UTC or ISO\n    .setZone('Asia/Karachi')                         // set to Pakistan Standard Time\n    .toISO()                                         // format to ISO string\n}}\n",
        "end": "={{ \n  DateTime\n    .fromISO($fromAI(\"endTime\"), { zone: 'utc' })  // assume original is in UTC or ISO\n    .setZone('Asia/Karachi')                         // set to Pakistan Standard Time\n    .toISO()                                         // format to ISO string\n}}\n",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee\")  }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\")  }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        440,
        220
      ],
      "id": "dbed10c1-c7fe-4b6c-996d-17602d473c5e",
      "name": "Create Event with Attende",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "76kwaWFbn60LtHki",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yusra.masood2005@gmail.com",
          "mode": "list",
          "cachedResultName": "yusra.masood2005@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"oneDayBefore\",\"one day before the day the user requested\") }}",
        "timeMax": "={{ $fromAI(\"oneDayAfter\",\"one day after the day the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        200
      ],
      "id": "88045740-a68d-42c4-b10f-a1acd503e944",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "76kwaWFbn60LtHki",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69ba2153-621d-4e94-ba16-6e5ed904f155",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        -20
      ],
      "id": "258e3f01-dc74-44dc-bdf3-dc7322903571",
      "name": "Response"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-27T09:37:41.000Z",
  "versionId": "9d305be7-6a3f-4dcc-932d-b94db4169bea"
}